<footer class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="copyright">
          <p>Copyright © 2016. All Rights Reserved</p>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <ul class="social-media-icons text-right">
          <li><i class="fa-brands fa fa-facebook"></i></li>
          <li><i class="fa-brands fa fa-twitter"></i></li>
          <li><i class="fa-brands fa-pinterest"></i></li>
          <li><i class="fa-brands fa fa-vimeo"></i></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="top-to">
    <a id="top" class="" href=""><i class="fa fa-angle-up"></i></a>
  </div>
</footer>
