.footer-bottom {
  position: relative;
  background: #363839;
  padding: 25px 0;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.social-media-icons {
  text-align: center !important;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  font-family: "Muli", sans-serif;
  color: #666;
  font-size: 14px;
  font-weight: 400;
}
.social-media-icons li {
  display: inline-block;
}
.top-to {
  position: absolute;
  right: 20px;
  bottom: 50px;
  display: flex;
  justify-content: center;
}
.text-right li i {
  margin: 0 10px;
}
.top-to a {
  width: 40px;
  height: 40px;
  background: #5672f9;
  color: #fff;
  display: flex;
  justify-content: center;
}
.top-to a i {
  line-height: 40px;
}
.copyright p {
  color: #c7c7c7;
  margin-bottom: 0;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
