<div class="container1">
  <div class="overlay">
    <div class="content-block">
      <div class="content">
        <h1>Buy & Sell Near You</h1>
        <p>
          Join the millions who buy and sell from each other <br />
          everyday in local communities around the world
        </p>
        <div class="popular-category">
          <h2>popular-category</h2>
        </div>
        <ul class="list-content">
          <li class="list-item">
            <a href=""><i class="fa-light fa fa-bed"></i>Hotel</a>
          </li>
          <li class="list-item">
            <a href=""><i class="fa-brands fa fa-grav"></i>Fitness</a>
          </li>
          <li class="list-item">
            <a href=""><i class="fa-light fa fa-car"></i>Cars</a>
          </li>
          <li class="list-item">
            <a href=""><i class="fa-light fa fa-utensils"></i>Restraurent</a>
          </li>
          <li class="list-item">
            <a href=""><i class="fa-light fa fa-coffee"></i>Cafe</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="search-boxes">
      <form action="">
        <div class="row1">
          <div class="search1">
            <input type="text" placeholder="search the store" />
          </div>
          <div class="search2">
            <input type="text" placeholder="search the store" />
          </div>
          <button>Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-trending-ads></app-trending-ads>
<app-category-page></app-category-page>
