<footer class="sectiona">
  <div class="containersa">
    <div class="rowa">
      <div class="content-foot-1a content-footera">
        <div class="block1a">
          <img src="../../../assets/cheif/logo.png" alt="" />
          <p class="alt-color">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <div class="content-foot-2a content-footera">
        <div class="block1a">
          <h4>Site Pages</h4>
          <ul>
            <li><a href="">Boston</a></li>
            <li><a href="">How It Works</a></li>
            <li><a href="">Deals & Coupons</a></li>
            <li><a href="">Aritcles & tips</a></li>
            <li><a href="">Terms of Services</a></li>
          </ul>
        </div>
      </div>
      <div class="content-foot-3a content-footera">
        <div class="block1a">
          <h4>Admin Pages</h4>
          <ul>
            <li><a href="">Boston</a></li>
            <li><a href="">How It Works</a></li>
            <li><a href="">Deals & Coupons</a></li>
            <li><a href="">Aritcles & tips</a></li>
            <li><a href="">Terms of Services</a></li>
          </ul>
        </div>
      </div>
      <div class="content-footera">
        <div class="block-2a" id="logo">
          <a href=""
            ><img
              src="../../../assets/cheif/assignment images/phone-icon.png"
              alt=""
          /></a>
          <p>Get the Dealsy Mobile App and Save more</p>
        </div>
      </div>
    </div>
  </div>
</footer>
